{% extends "layout.html" %}

{% block title %}
    Explore
{% endblock %}

{% block main %}
    <h1>Explore</h1>
    
    <div id="explore-container">
        {% for image in images %}
          <div
            class="explore-section placeholder"
            data-src="{{ image.image_url }}"
          >
            <div class="explore-overlay">
              <h2>{{ image.title }}</h2>
              <p>{{ image.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    
      <div id="sentinel"></div>
    

{% endblock %}
