{% extends "layout.html" %}

{% block title %}
    Explore
{% endblock %}

{% block main %}
  <div class="welcome">
    <p>Welcome, {{ current_user.username }}</p>
  </div>

  <!-- {% for genre in genres %}
    <div class="genre-section">
        <h2>{{ genre }}</h2>
        <div class="carousel-container" data-genre="{{ genre }}">

            <button class="prevBtn carousel-btn">Previous</button>


            <div class="carousel-wrapper">

            </div>


            <button class="nextBtn carousel-btn">Next</button>
        </div>

        <div class="loadMoreSentinel" data-genre="{{ genre }}"></div>
    </div>
  {% endfor %} -->
  
{% endblock %}
